name: Release
on:
  push:
    branches:
      - main
    paths:
      - '.changeset/**'
      - '.github/workflows/release.yml'
  workflow_dispatch:

jobs:
  version:
    timeout-minutes: 15
    runs-on: ubuntu-latest
    steps:
      - name: checkout code repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: install bun
        uses: oven-sh/setup-bun@v1
      - name: install dependencies
        run: bun install
      - name: build
        run: cd packages/core && bun run build && cd .. && cd jsx-mail && bun run build
      - name: create and publish versions
        uses: changesets/action@v1
        with:
          version: bun changeset version
          commit: 'chore: update versions'
          title: 'chore: update versions'
          publish: bun changeset publish
        env:
          GITHUB_TOKEN: ${{ secrets.TOKEN_GITHUB }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
